<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events page</title>
</head>

<body>
    <% include('partials/navbar')%>
    <h1> Events</h1>

    <div class="wrapper">
        <% if (Array.isArray(events)) { %>
            <% events.forEach(el => { %>
                <section class="card" id="<%= el._id %>">
                    <img src="<%= el.image %>" alt="event picture">
                    <h2><%= el.number %></h2>
                    <p><%= el.description %></p> 
                </section>
            <% }) %>
        <% } else if (typeof events === 'object') { %>
            <section class="card" id="<%= events._id %>">
                <img src="<%= events.image %>" alt="event picture">
                <h2><%= events.number %></h2>
                <p><%= events.description %></p> 
            </section>
        <% } %>
    </div>
</body>
</html>
